@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.light-mode {
  --background-color: #ffffff; /* Light mode background color */
  --color: #312f2f; /* Light mode text color */
}

.dark-mode {
  --background-color: #312f2f; /* Dark mode background color */
  --color: #ffffff; /* Dark mode text color */
}

::-webkit-scrollbar {
  width: 7px;
  border-radius: 50px;
  background-color: var(--background-color);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(98, 121, 255, 0.5);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(98, 121, 255);
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track:hover {
  background-color: var(--background-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--color);
}

.theme {
  width: 100%;
  height: auto;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--color);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.increment {
  color: #16c784;
}

.decrement {
  color: #e73636;
}

.scroll-up {
  position: fixed;
  bottom: 60px;
  right: 20px;
  z-index: 999;
  width: auto;
  height: auto;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  color: var(--color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.4s ease;
  font-size: 30px;
  opacity: 0;
}

.scroll-up.show {
  opacity: 1;
  transition: opacity 0.4s ease;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; /* Change this line */
  height: auto;
  min-height: 82vh;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
  margin: 0 auto;
  color: var(--color);
  background-color: var(--background-color);
}

@media screen and (max-width: 991px) {
  .html {
      overflow-x: hidden;
      overflow-y: auto;
  }
  main {
    width: 100%;
    height: auto;
    min-height: auto;
  }
}